#order {
  height: 100%;
  .order {
    display: flex;
    justify-content: space-between;
    &__header {
      display: flex;
      gap: 10px;
      margin: 25px 0 50px 20px;
      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #757575;
      }
      .active {
        color: #000f35;
      }
    }
    &__contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80vh;
      max-width: 300px;
      width: 100%;

      &__info {
        h2 {
          font-size: 24px;
          font-weight: 700;
          color: #010049;
        }
        input {
          margin: 0 auto;
          width: 100%;
          height: 30px;
          padding: 20px;
          margin: 10px auto;
          outline: none;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      &__oplata {
        label {
          display: flex;
          gap: 10px;
        }
        p {
          font-size: 15px;
          font-weight: 600;
          margin: 10px auto;
        }
        span {
          color: #70ff00;
        }
        button {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          background: #010049;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    &__dostavka {
      max-width: 300px;
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0;
      }
      label {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        gap: 10px;
        margin: 15px 0;
      }
      &__cost {
        width: 100%;
        height: 100px;
        background-color: #010049;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        h1 {
          font-size: 10px;
          font-weight: 400;
          color: #fff;
        }
        h2 {
          font-size: 13px;
          font-weight: 700;
          color: #fff;
        }
      }
    }
    &__vybor {
      max-width: 540px;
      width: 100%;
      
    }
  }
}
