.category-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    &__navlist{
        display: flex;
        gap: 5px;
        p{
            color: #757575;
        }
        span{
            color: #000F35;
        }
    }
    select{
        padding: 5px;
    }
}
.categoriesMap{
    display: flex;
    align-items: center;
    &__list{
        width: 150px;
        height: 150px;
        background: #757575;
    }
}
.category{
    // width: 100px;
    // height: 40px;
}